<!-- extend from base layout -->
{% extends "base.html" %}
{% block content %}
    <div class="row">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#tab1">Описание</a></li>
            <li role="presentation" class=""><a data-toggle="tab" href="#tab2">Дозировка</a></li>
        </ul>
    </div>
    <div class="row">
    <h2>{{ title }}</h2>
        <div class="tab-content" id="tabcontent">
            <div id="tab1" class="tab-pane fade in active">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <form action="" method="post" name="login" class="form-horizontal">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <p>
                        {{ form.title.label }}:<br>
                        {{ form.title(size=80) }}<br>
                            {% if form.title.errors %}
                                <ul class="errors">{% for error in form.title.errors %}
                                    <li>{{ error }}</li>{% endfor %}</ul>
                            {% endif %}
                        </p>
                    </div>
                    <div class="form-group">                    <p>
                        {{ form.unit.label }}:<br>
                        {{ form.unit }}<br>
                        {{ form.active_amount.label }}:<br>
                        {{ form.active_amount }}<br>
                    </p>
                    </div>
                    <div class="form-group">
                        {{ form.descr.label }}:<br>
                        {{ form.descr(rows=20, cols=200) }}<br>
                        {% if form.descr.errors %}
                            <ul class="errors">{% for error in form.descr.errors %}
                                <li>{{ error }}</li>{% endfor %}</ul>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
</div>
            </div>

            <div id="tab2" class="tab-pane fade">
                {% include 'dosage/list.html' %}
            </div>
        </div>
    </div>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('descr');
    </script>
{% endblock %}