<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>{{ title }}</h2>
    <form style="display: inline;" action="{{url_for('medicine_search')}}" method="post" name="search">{{search_form.hidden_tag()}}{{search_form.search(size=20)}}<input type="submit" value="Search"></form>
    <div>
    {% for link in fast_links %}
        <a href="{{ fast_links[link] }}">{{ link }}</a>
    {% endfor %}
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Наименование</th>
        </tr>
        </thead>
        <tbody>
        {% for medicine in medicines.items %}
            <tr>
                <td><a href="{{ url_for('medicine_edit', id=medicine.id) }}">
                    {% if medicine.title %}
                        {{ medicine.title }}
                    {% else %}
                        не задан
                    {% endif %}
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ url_prev }}" class="btn btn-default"
                {% if not medicines.has_prev %} disabled="disabled"{% endif %}>Предыдущая</a>
        <a href="{{ url_next }}" class="btn btn-default"
                {% if not medicines.has_next %} disabled="disabled"{% endif %}>Следующая</a>
    </div>
    <a class="btn btn-default" href="{{ url_for('medicine_add') }}" role="button">Добавить</a>
{% endblock %}