<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <h2>{{ title }}</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Наименование</th>
        </tr>
        </thead>
        <tbody>
        {% for medicine in medicines %}
            <tr>
                <td><a href="{{ url_for('medicine', id=medicine.id) }}">
            {% if medicine.title %}
                {{ medicine.title }}
            {% else %}
                не задан
            {% endif %}
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-default" href="{{ url_for('medicie_add') }}" role="button">Добавить</a>
{% endblock %}