<a class="btn btn-default" href="{{ url_for('dosage_add', active_substance_id=form._obj.id) }}" role="button">Добавить</a>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Дозировка</th>
    </tr>
    </thead>
    <tbody>
    {% for dosage in dosages %}
        <tr>
            <td><a href="{{ url_for('dosage_edit', id=dosage.id, active_substance_id=form._obj.id) }}">{{ dosage }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-default" href="{{ url_for('dosage_add', active_substance_id=form._obj.id) }}" role="button">Добавить</a>